- provide :title, 'Edit Employee'

.panel.panel-default.new-employee-form
  .panel-heading Create a new Employee
  .panel-body
    = form_for(@employee) do |f|
      = render 'shared/error_messages', object: f.object

      %h3.new-employee-form__subtitle Personal Details

      .row
        .col-md-6
          .form-group
            = f.label :email, class: 'control-label'
            = f.email_field :email, class: 'form-control', autofocus: true
          .row
            .form-group.col-md-6
              = f.label :first_name, 'First Name', class: 'control-label'
              = f.text_field :first_name, class: 'form-control'
            .form-group.col-md-6
              = f.label :last_name, 'Last Name', class: 'control-label'
              = f.text_field :last_name, class: 'form-control'
          .form-group
            = f.label :date_of_birth, 'Date of Birth', class: 'control-label'
            = f.date_field :date_of_birth, class: 'form-control'
        .col-md-6
          .form-group
            = f.label :address_line_1, 'Address Line 1', class: 'control-label'
            = f.text_field :address_line_1, class: 'form-control'
          .form-group
            = f.label :address_line_2, 'Address Line 2', class: 'control-label'
            = f.text_field :address_line_2, class: 'form-control'
          .form-group
            = f.label :post_code, 'Post Code', class: 'control-label'
            = f.text_field :post_code, class: 'form-control'

      %h3.new-employee-form__subtitle Employment Details

      .row
        .col-md-6
          .form-group
            = f.label :contracted_hours, 'Contracted Hours', class: 'control-label'
            = f.text_field :contracted_hours, class: 'form-control'
          .form-group
            = f.label :line_manager_id, 'Line Manager', class: 'control-label'
            = f.collection_select :line_manager_id, @potential_line_manager, :id, :full_name, { include_blank: 'Choose a line manager...' }, { class: 'form-control' }
          .form-group
            = f.label :start_date, 'Start Date', class: 'control-label'
            = f.date_field :start_date, class: 'form-control'
        .col-md-6
          .form-group
            = f.label :job_title, 'Job Title', class: 'control-label'
            = f.text_field :job_title, class: 'form-control'
          .form-group
            = f.label :is_line_manager, 'Is Employee a Line Manager?', class: 'control-label'
            = f.check_box :is_line_manager, class: 'form-control'

      %h3.new-employee-form__subtitle Emergency Contacts

      .row
        .col-md-6
          .form-group
            = f.label :emergency_contact_name, 'Emergency Contact Name', class: 'control-label'
            = f.text_field :emergency_contact_name, class: 'form-control'
          .form-group
            = f.label :emergency_contact_relation, 'Emergency Contact Relation', class: 'control-label'
            = f.text_field :emergency_contact_relation, class: 'form-control'

        .col-md-6
          .form-group
            = f.label :emergency_contact_phone_number, 'Emergency Contact Phone Number', class: 'control-label'
            = f.text_field :emergency_contact_phone_number, class: 'form-control'
          .form-group
            = f.label :emergency_contact_phone_number_2, 'Emergency Contact Phone Number (other)', class: 'control-label'
            = f.text_field :emergency_contact_phone_number_2, class: 'form-control'

      = f.submit 'Update Employee', class: 'btn btn-default pull-right'
