- provide :title, 'Employees'

.pull-right
  = link_to new_employee_path, class: 'btn btn-primary btn-new-employee' do
    %span.glyphicon.glyphicon-plus
    Add New Employee

%h1 Employees

.row.user-card__container
  - @employees.each do |employee|
    .panel.panel-default.user-card{ class: user_card_class_helper(employee) }

      .user-card__body
        - if employee.is_active?
          = render 'shared/time_table/table', employee: employee
        - else
          %h2.user-card__deactivated Deactivated

      .user-card__side-panel
        = link_to employee do
          = image_tag employee.avatar.url, class: 'user-card__photo'
        %h4.user-card__name
          %span.user-card__full_name= link_to employee.full_name, employee
          - if employee.job_title.downcase == 'director'
            %br
            %span.label.label-default.user-card__director-label DIRECTOR
          - else
            %small.user-card__job-title= employee.job_title

        %ul.user-card__details
          - if employee.line_manager
            %li
              %strong Reports to:
              = link_to employee.line_manager.full_name, employee.line_manager
          %li
            %strong Hours per week:
            = employee.contracted_hours

      .panel-footer.user-card__footer

        %ul.user-card__footer--links
          %li
            = link_to '#', class: 'user-card__footer--link' do
              %span.glyphicon.glyphicon-log-in
              Check-in History
