%h1 Employees

.row.user-card__container
  - @employees.each do |employee|
    .panel.panel-default.user-card

      .user-card__side-panel
        = image_tag('profile-photo.jpg', class: 'user-card__photo')
        %h4.user-card__name
          = link_to employee.full_name, employee
          %small.user-card__job-title= employee.job_title

        %ul.user-card__details
          %li
            %strong Reports to:
            = link_to 'James Hall', '#'
          %li
            %strong Hours per week:
            37.5

      .panel-footer.user-card__footer

        %ul.user-card__footer--links
          %li
            = link_to '#', class: 'user-card__footer--link' do
              %span.glyphicon.glyphicon-log-in
              Check-in History
          %li
            = link_to '#', class: 'user-card__footer--link' do
              %span.glyphicon.glyphicon-log-in
              Check-in History
