.row
  .col-md-3
    .user-card
      = image_tag('profile-photo.jpg', class: 'user-card__photo')

      %h3.user-card__name
        = current_employee.full_name
        %small.user-card__job-title
          = current_employee.job_title

  .col-md-9
    .panel.panel-default.holiday-panel
      .panel-heading
        %h3.panel-title.holiday-panel__title
          .pull-right{ title: 'Starting with 25 days, you earn 1 day extra holiday per year, up to 35 days', data: { toggle: :tooltip, placement: :bottom } }
            Days of holiday remaining:
            %strong.remaining-days{ data: { holiday_days: current_employee.remaining_holiday_days } }
              = current_employee.remaining_holiday_days

          Holidays
      .panel-body
        = form_for(@holiday) do |f|
          = f.label :date, class: 'control-label'
          = f.text_field :date, id: 'daterange', class: 'form-control'

          = f.submit 'Request', class: 'btn btn-default btn-holiday-request pull-right'
