- provide :title, 'Holidays'

.row
  .col-md-3
    = render 'shared/small_user_card'

  .col-md-9
    .panel.panel-default.holiday-panel
      .panel-heading
        %h3.panel-title.holiday-panel__title
          .pull-right{ title: 'Starting with 25 days, you earn 1 day extra holiday per year, up to 35 days', data: { toggle: :tooltip, placement: :bottom } }
            Days of holiday remaining:
            %strong.remaining-days{ data: { holiday_days: current_employee.remaining_holiday_days } }
              = current_employee.remaining_holiday_days

          Holidays
      .panel-body
        = form_for(@holiday) do |f|
          = f.label :date, class: 'control-label'
          = f.text_field :date, id: 'daterange', class: 'form-control'

          = f.submit 'Request', class: 'btn btn-default btn-holiday-request pull-right'

    %h3 Your Holidays
    - current_employee.pending_holiday_requests.each do |holiday|
      .panel.panel-warning
        .panel-heading.center Pending
        .panel-body
          .row
            .col-md-4.holiday-panel__section
              %strong From
              .holiday-panel__section--value= holiday.date_from.strftime("%a #{holiday.date_from.day.ordinalize} %B")
            .col-md-4.holiday-panel__section
              %strong To
              .holiday-panel__section--value= holiday.date_to.strftime("%a #{holiday.date_to.day.ordinalize} %B")
            .col-md-4.holiday-panel__section
              %strong Days Used
              .holiday-panel__section--value= holiday.total_days_requested

    - current_employee.approved_holiday_requests.each do |holiday|
      .panel.panel-success
        .panel-heading.center
          %h4 Approved
        .panel-body
          .row
            .col-md-4.holiday-panel__section
              %strong From
              .holiday-panel__section--value= holiday.date_from.strftime("%a #{holiday.date_from.day.ordinalize} %B")
            .col-md-4.holiday-panel__section
              %strong To
              .holiday-panel__section--value= holiday.date_to.strftime("%a #{holiday.date_to.day.ordinalize} %B")
            .col-md-4.holiday-panel__section
              %strong Days Used
              .holiday-panel__section--value= holiday.total_days_requested

    %h3 Company Holidays
    .row
      - @company_holidays.each do |holiday|
        = render 'shared/company_holiday', holiday: holiday

