<% provide :title, 'Calendar' %>

<div class="row">
  <div class="col-md-12">

    <table class="table calendar">
      <thead>
        <tr>
          <th class="calendar__day-title">Monday</th>
          <th class="calendar__day-title">Tuesday</th>
          <th class="calendar__day-title">Wednesday</th>
          <th class="calendar__day-title">Thursday</th>
          <th class="calendar__day-title">Friday</th>
          <th class="calendar__day-title">Saturday</th>
          <th class="calendar__day-title">Sunday</th>
        </tr>
      </thead>
      <tbody>
        <% @dates.each do |row| %>

          <tr class="calendar__week">

            <% row.each do |date| %>
              <% current_date = @start_of_month + (date - 1).days unless date.nil? %>

              <td class="calendar__day <% if !date.nil? %>-current-month<% end %> <%= class_helper(current_date) if !date.nil? %>">
                <% unless date.nil? %>
                  <%= date %>
                  <%= render 'employee_holiday_list', date: current_date %>
                  <%= render 'employee_birthday_list', date: current_date %>
                <% end %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>

    <div class="calendar__key">
      <ul class="calendar__key--list">
        <li class="calendar__key--list-item">
          <div class="calendar__key--list-item--data -key -square"></div>
          <div class="calendar__key--list-item--data -value">Sick Day</div>
        </li>
        <li class="calendar__key--list-item">
          <div class="calendar__key--list-item--data -key -square"></div>
          <div class="calendar__key--list-item--data -value">Company Holiday</div>
        </li>
        <li class="calendar__key--list-item">
          <div class="calendar__key--list-item--data -key"><%= image_tag('icons/plane.png', class: '-employee-holiday') %></div>
          <div class="calendar__key--list-item--data -value">Employee Holiday</div>
        </li>
        <li class="calendar__key--list-item">
          <div class="calendar__key--list-item--data -key"><%= image_tag('icons/cake.png', class: '-birthday') %></div>
          <div class="calendar__key--list-item--data -value">Employee Birthday</div>
        </li>
      </ul>
    </div>
  </div>
</div>
