<div class="panel panel-default panel-log-in log-in-panel">
  <div class="panel-heading log-in-panel__header">
    <%= link_to root_path do %>
      <%= image_tag('logo.png', class: 'log-in-panel__logo') %>
    <% end %>
  </div>
  <div class="panel-body">

    <h2 class="new-password__header center">Forgot your password?</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-group center">
        <%= f.label :email, class: 'control-label'  %>
        <%= f.email_field :email, class: 'form-control', autofocus: true %>
      </div>

      <div class="form-group center">
        <%= f.submit 'Send me reset password instructions', class: 'btn btn-default'  %>
      </div>

      <div class="form-group center">
        <%= render 'devise/shared/links' %>
      </div>
    <% end %>
  </div>
</div>
