- provide :title, 'Holiday Requests'

%h1 Holiday Requests

- @subordinates.each do |subordinate|
  - subordinate.holiday_requests.each do |request|
    .panel.panel-default.panel-holiday-request
      .panel-heading.panel-holiday-request__heading
        = link_to subordinate.full_name, subordinate
      .panel-body.panel-holiday-request__body

        %ul.panel-holiday-request__panel-list
          %li
            .panel-holiday-request__summary-box.primary
              .panel-holiday-request__summary-box--title.center From
              .panel-holiday-request__summary-box--body= request.date_from.strftime("%a #{request.date_from.day.ordinalize} %B")
          %li
            .panel-holiday-request__summary-box.primary
              .panel-holiday-request__summary-box--title.center To
              .panel-holiday-request__summary-box--body= request.date_to.strftime("%a #{request.date_to.day.ordinalize} %B")
          %li
            .panel-holiday-request__summary-box
              .panel-holiday-request__summary-box--title.center Total Days Requested
              .panel-holiday-request__summary-box--body= request.total_days_requested

        .pull-right
          = link_to '#', class: 'btn btn-danger' do
            Deny
          = link_to '#', class: 'btn btn-default' do
            Approve
