%table.table.table-bordered.table-check-in-times
  %tbody
    %thead
      %tr.table-check-in-times__tr
        - @week.each do |day|
          %td.center
            - if current_employee.can_mark_as_sick_day?(day)
              %strong
                = link_to day.strftime('%A'), mark_sick_day_path(day), title: 'Mark as sick day', class: 'table-check-in-times__week-day', data: { toggle: :tooltip, placement: :top, confirm: 'Are you sure?' }
            - else
              %strong= day.strftime('%A')

            - if current_employee.all_check_ins_on_date(day).any?
              %span.label.label-default.label-time-logged-today
                = current_employee.formatted_time_checked_in_on_date(day)

    - current_employee.max_check_ins_on_week_starting(@start_of_week).times do |n|
      %tr.table-check-in-times__tr
        - @week.each_with_index do |day, i|
          = render 'times/day', time: @check_in_out_times[i][n], day: day, i: i, n: n
  %tfooter
    %tr
      %td.center{ colspan: 5 }
        Hours worked this week:
        %strong= current_employee.formatted_time_checked_in_on_week(@start_of_week)
