- provide :title, 'Check In'

.row
  .col-md-3
    .user-card
      = image_tag('profile-photo.jpg', class: 'user-card__photo')

      %h3.user-card__name
        = current_employee.full_name
        %small.user-card__job-title
          = current_employee.job_title

  .col-md-9
    = render 'check_in_form'

    = render 'time_table'
