%nav.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    .navbar-header.header
      %button.navbar-toggle.collapsed{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to root_path, class: 'navbar-brand' do
        = image_tag('logo.png', class: 'header__logo')
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        - if employee_signed_in?
          %li= link_to 'Holiday Requests', '#' if current_employee.line_manager
          %li= link_to 'Employees', employees_path, class: 'header__right-space' if current_employee.line_manager

        %li= link_to 'Check In', root_path
        %li= link_to 'Holidays', holidays_path
        - if employee_signed_in?
          %li.dropdown
            %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              = current_employee.full_name
              %span.caret
            %ul.dropdown-menu
              %li= link_to 'Edit Profile', edit_employee_registration_path
              %li.divider{:role => "separator"}
              %li= link_to 'Log Out', destroy_employee_session_path, method: :delete
