<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? "Central &mdash; #{yield(:title)}".html_safe : "Central" %></title>

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %> <%= controller.action_name %>">

<%= render 'layouts/header' if header_should_be_displayed %>

<div class="container">
  <%= render 'layouts/flash_notice' unless on_page('sessions', 'new') || on_page('registrations', 'new') %>
  <%= yield %>
</div>

<%= javascript_include_tag 'application' %>

</body>
</html>
