<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? "Central &mdash; #{yield(:title)}".html_safe : "Central" %></title>

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %> <%= controller.action_name %>">

<%= render 'layouts/header' unless on_page('sessions', 'new') || on_page('registrations', 'new') %>

<div class="container">
  <%= render 'layouts/flash_notice' unless on_page('sessions', 'new') || on_page('registrations', 'new') %>
  <%= yield %>
</div>

<script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<%= javascript_include_tag 'application' %>

</body>
</html>
